.red {
    color: red;
}

.bold {
    font-weight: bold;
}

#primaryLinks {
    height: 100px;
    line-height: 70px;
    width: 600px;
    text-align: right;
    float: left;
    margin: 0;
}

#primaryLinks li {
    display: inline;
}

#primaryLinks menu {
    padding-top: 0;
    padding-left: 0;
}

#logo {

    height: 100px;
    width: 100px;
    float: left;
}
#banner img{

    width: 100px;
    height: 10px;
}



#wrapper {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
}

#internet img {
    width: 400px;
    height: 266px;
}

#logo img {

    height: 100px;
}

#primaryContentZ {
    width: 740px;
    float: left;
}
#primaryContentF {
    width: 500px;
    float: left;
}

#footer {
    clear: both;
    text-align: center;
    height: 100px;
    line-height: 100px;
}

#topContent {
    height: 100px;
    line-height: 100px;
    text-decoration-color: grey;

}

.clearFix {
    clear: both;
}
